.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4ea8d5;
}

.container {
    text-align: center;
}


.title {

}

.subtitle {
    font-style: italic;
}