.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4ea8d5;
}

.container {
    width: 90%;
    height: 90%;
    display: flex;

    padding: 32px;
    min-width: 1000px;

    background-color: #30292F;
}

@media only screen and (max-width: 1100px) {
    .container {
      width: 100%;
      max-height: 100%;
    }
  }

.misleadingInput {
    margin-top: 8px;
    flex: 1;
}

.participantsContainer {
    flex: 1;

    background-color: white;

    padding: 16px;
    min-width: 325px;
}

.rightSideContainer {
    flex: 3;

    display: flex;
    flex-direction: column;
    
    margin-left: 32px;
}

.yourUsernameContainer {
    flex: 0 0 100px;
    
    display: flex;
    flex-direction: column;

    padding: 8px;

    background-color: white;
}

.yourUsernamePrompt {
    flex: 1;

    font-size: 12px;
}

.yourUsernameInput {
    flex: 2;

    width: 100%;
    height: 100%;

    font-size: 20px;
}

.yourUsernameError {
    flex: 1;

    color: red;

    font-size: 10px;
}

.questionsContainer {
    flex: 8;

    background-color: white;

    margin-top: 32px;
    padding: 8px;
}

.lobbyUrlContainer {
    flex: 0 0 100px;
    display: flex;
    padding: 16px;
    flex-direction: column;

    align-items: left;

    background-color: white;

    margin-top: 32px;
}

.lobbyUrlPrompt {
    margin-block-start: 0;
    margin-block-end: 8px;
    font-size: 12px;
}

.lobbyUrlInput {
    width: 100%;
    height: 100%;

    font-size: 20px;
}